.catalog-section {
  background-color: $lightest-grey;
  padding-top: 100px;
  padding-bottom: 120px;
}

.catalog-section .title-section {
  margin-bottom: 40px;
}

.catalog__inner {
  display: flex;
}

.catalog__content {
  flex: 1;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 0;
  margin-bottom: 30px;
}

.catalog__item {
  width: calc(100% / 3 - 30px);
  background-color: $base-white;
  border-radius: 4px;
  padding: 50px 30px 30px 30px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}

.catalog__thumb {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.catalog__title {
  margin-bottom: 10px;
}

.catalog__title a {
  text-decoration: none;
  color: $base-black;
}

.catalog__title a:hover {
  color: $base-primary;
}

.catalog__title a:active {
  color: $primary-darker;
}

.catalog__desc {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
}

.catalog__order {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.catalog__price {
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}
