.page-footer {
  padding-bottom: 30px;

  @include breakpoint(tablet) {
    padding-bottom: 40px;
  }
}

.copyright {
  display: flex;
  justify-content: center;
  font-size: 12px;
  line-height: 16px;
  color: $base-grey;
}

.copyright__link {
  text-decoration: none;
}

.copyright__link svg {
  fill: $base-grey;
}

.copyright__link:hover svg {
  fill: $base-primary;
}

.copyright__link:active svg {
  fill: $primary-darker;
}

.page-footer__inner {
  @include breakpoint(tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer__block {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 20px;
  border-bottom: 1px solid $base-secondary;

  @include breakpoint(tablet) {
    width: calc(100% / 3);
    padding-left: 0;
    padding-right: 30px;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  @include breakpoint(desktop) {
    width: 25%;
  }

  &:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint(tablet) {
      width: 100%;
      padding-right: 0;
      margin-bottom: 30px;
    }

    @include breakpoint(desktop) {
      display: block;
      width: 25%;
    }
  }

  &:last-child {
    padding-right: 0;
  }
}

.page-footer__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.28px;
  color: $base-primary;
  margin-bottom: 12px;
}

.footer-menu {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.footer-menu__item {
  margin-bottom: 4px;
}

.footer__block a {
  display: block;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  color: $base-black;
  text-decoration: none;
  padding: 8px 0;
}

.footer__block a:hover {
  color: $base-primary;
}

.footer__block a:active {
  color: $primary-darker;
}

.footer__block--contact {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px
}

.page-footer__address {
  font-style: normal;
  color: $base-black;
  margin-bottom: 16px;
}

.page-footer__phone {}

.social {
  display: flex;
  align-items: center;
}

.social a {
  font-size: 0;
  padding: 0;
  line-height: 0;
}

.social_item {
  text-decoration: none;
  margin-right: 20px;
  border-radius: 4px;

  &:last-child {
    margin-right: 0;
  }
}

.social_item:hover {
  background-color: $base-secondary;
}

.social_item:active {
  background-color: $primary-opacity-0-25;
}

.social_item svg {
  transition: all 0.3s ease;
  fill: $base-grey;
}

.social_item:hover svg {
  fill: $base-primary;
}

.social_item:active svg {
  fill: $base-primary;
}
