.page-footer {
  padding-bottom: 40px;
}

.copyright {
  display: flex;
  justify-content: center;
  font-size: 12px;
  line-height: 16px;
  color: $base-grey;
}

.copyright__link {
  text-decoration: none;
}

.copyright__link svg{
  fill: $base-grey;
}

.copyright__link:hover svg{
  fill: $base-primary;
}

.copyright__link:active svg{
  fill: $primary-darker;
}

