.page-header {
  position: relative;
  background-color: $base-white;
}

.page-header__inner {
  display: flex;
  align-items: center;
}

.page-header .container {
  @media (max-width: 767px) {
    padding-right: 0;
  }
}
