.logo {
  display: block;
  flex-shrink: 0;
  text-decoration: none;
  color: $base-black;

  &--header {
    display: flex;
    align-items: center;
    margin-right: auto;

    @media screen and (min-width: 768px) {
      margin-right: 0;
    }
  }

  &--footer {
    @media screen and (min-width: 1440px) {
      margin-bottom: 50px;
    }
  }
}

.logo__img {
  flex-shrink: 0;

  &--header {
    @media screen and (min-width: 1440px) {
      margin-right: 20px;
    }
  }

  &--footer {
    @media screen and (min-width: 1440px) {
      margin-bottom: 10px;
    }
  }
}

.logo__text {
  display: none;

  @media screen and (min-width: 1440px) {
    display: block;
  }

  &--header {
    max-width: 140px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
  }

  &--footer {
    font-size: 14px;
    line-height: 20px;
  }
}
