.pager {
  display: flex;
  justify-content: space-between;

  @include breakpoint(tablet) {
    align-items: center;
    justify-content: flex-end;
  }

  @include breakpoint(desktop) {}
}

.pager__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 40px;
  min-height: 40px;
  font-size: 16px;
  background-color: $base-white;
  border-radius: 4px;
  padding: 8px;
  color: $base-primary;
  text-decoration: none;
  border: none;

  @include breakpoint(tablet) {
    margin-right: 20px;
  }

  &:hover {
    background-color: $primary-lighter;
    color: $base-white;
  }

  &:active {
    background-color: $primary-darker;
    color: $base-white;
  }

  &:disabled {
    background-color: $light-grey;
    color: $base-white;
  }

  &--prev,
  &--next {
    padding: 15px;
    font-size: 0;

    @include breakpoint(tablet) {
      font-size: 16px;
      padding: 8px 20px;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.pager__item.active {
  background-color: transparent;
  font-weight: 600;
  color: $base-black;

  &:hover {
    background-color: transparent;
    color: $base-black;
    cursor: default;
  }
}
