.pager {
  display: flex;
  justify-content: space-between;
  margin-top: 44px;

  @media screen and (min-width: 768px) {
    align-items: center;
    justify-content: flex-end;
    margin-top: 42px;
  }

  @media screen and (min-width: 1440px) {
    margin-top: 31px;
  }
}

.pager__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 40px;
  min-height: 40px;
  font-size: 16px;
  background-color: $base-white;
  border-radius: 4px;
  padding: 8px;
  color: $base-primary;
  text-decoration: none;
  border: none;

  @media screen and (min-width: 768px) {
    margin-right: 20px;
  }

  &:hover {
    background-color: $primary-lighter;
    color: $base-white;
  }

  &:active {
    background-color: $primary-darker;
    color: $base-white;
  }

  &:disabled {
    background-color: $light-grey;
    color: $base-white;
  }

  &--prev,
  &--next {
    padding: 15px;
    font-size: 0;
    background-image: url("../../img/icons/stack.svg#icon-arrow-nav");
    background-repeat: no-repeat;
    background-size: 10px 14px;
    background-position: center;
    transform-origin: center;

    @media screen and (min-width: 768px) {
      background-image: none;
      font-size: 16px;
      padding: 8px 20px;
    }
  }

  &--next {
    transform: rotate(180deg);

    @media screen and (min-width: 768px) {
      transform: none;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.pager__item.active {
  background-color: transparent;
  font-weight: 600;
  color: $base-black;

  &:hover {
    background-color: transparent;
    color: $base-black;
    cursor: default;
  }
}
