.pager {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.pager__item {
  background-color: $base-white;
  border-radius: 4px;
  padding: 8px;
  margin-right: 20px;
  color: $base-primary;
  text-decoration: none;
  border: none;

  &:hover {
    background-color: $primary-lighter;
    color: $base-white;
  }

  &:active {
    background-color: $primary-darker;
    color: $base-white;
  }

  &:disabled {
    background-color: $light-grey;
    color: $base-white;
  }

  &--prev,
  &--next {
    padding: 8px 20px;
  }

  &:last-child {
    margin-right: 0;
  }
}

.pager__item.active {
  background-color: transparent;
  font-weight: 600;
  color: $base-black;

  &:hover {
    background-color: transparent;
    color: $base-black;
    cursor: default;
  }
}