.range {
  position: relative;
  height: 86px;
}

.range__bar {
  position: relative;
  height: 24px;
  margin-bottom: 22px;
}

.range__track {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: $light-grey;
  transform: translateY(-50%);
}

.range__progress {
  position: absolute;
  left: 0;
  top: 50%;
  width: 90%;
  height: 6px;
  background-color: $primary-lighter;
  transform: translateY(-50%);
}

.range__btn {
  position: absolute;
  width:24px;
  height: 24px;
  background: $base-white;
  border: 2px solid $primary-lighter;
  border-radius: 50%;
  font-size: 0;

  &--min {
    left: 0;
  }

  &--max {
    left: calc(90% - 24px);
  }
}

.range__values {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.range__value {
  flex: 1;
  width: 100%;
  text-align: center;
  font-weight: 500;
  line-height: 24px;
  color: $base-black;
  font-size: 16px;
  padding: 8px 10px;
  border-radius: 4px;
  border: 2px solid $primary-lighter;

  &:focus {
    border: 2px solid $primary-darker;
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    border: 2px solid $light-grey;
  }

  &::placeholder {
    color: $base-grey;
  }

  &--from {
    margin-right: 20px;
  }

  &--to {
    margin-left: 20px;
  }
}

.range__separator {
  width: 10px;
  height: 2px;
  background-color: $base-grey;
}
