.swiper-horizontal {
  height: 100%;
  padding-top: 20px;
  padding-bottom: 60px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 0;
    transform: translateY(190px);
  }

  @media screen and (min-width: 1440px) {
    padding-top: 30px;
    padding-bottom: 84px;
    transform: none;
  }

  // @media screen and (min-width: 1440px) {
  //   padding-bottom: 24px;
  // }

  .swiper-pagination-bullet {
    position: relative;
    width: 64px;
    height: 24px;
    margin-right: 8px;
    margin-left: 0;
    border-radius: 0;
    background: none;
    opacity: 1;

    &:last-child {
      margin-right: 0;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
      height: 4px;
      background-color: $base-white;
    }
  }

  .swiper-pagination-bullet-active {
    &::before {
      background-color: $base-primary;
    }
  }

  .swiper-pagination {
    bottom: 60px;
    display: none;

    @media screen and (min-width: 1440px) {
      display: block;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 20px;
    height: 100%;
    top: 22px;

    &::after {
      content: "";
      width: 11px;
      height: 20px;
      background-image: url(../../img/icons/stack.svg#icon-arrow-nav);
      transform-origin: center;
    }

    @media screen and (min-width: 768px) {
      height: calc(100% - 188px);
      width: 80px;
    }

    @media screen and (min-width: 1440px) {
      height: 100%;
      top: 22px;
    }
  }

  .swiper-button-prev {
    left: 0;

    &:hover {
      background: linear-gradient(90deg, $base-white 0, rgba(255, 255, 255, 0.00) 100%);
    }

    &:active {
      background: linear-gradient(90deg, rgba(120, 89, 207, 0.25) 0, rgba(120, 89, 207, 0.00) 100%);
    }
  }

  .swiper-button-next {
    right: 0;

    &::after {
      transform: rotate(180deg);
    }

    &:hover {
      background: linear-gradient(270deg, $base-white 0, rgba(255, 255, 255, 0.00) 100%);
    }

    &:active {
      background: linear-gradient(270deg, rgba(120, 89, 207, 0.25) 0, rgba(120, 89, 207, 0.00) 100%);
    }
  }
}
