/* здесь используйте глобальные селекторы img, body, html и так далее*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  color: $base-black;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;

  @include breakpoint(desktop) {
    padding: 0 40px;
  }
}

button,
input[type="submit"],
input[type="reset"] {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

a {
  transition: all 0.3s ease;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;

  @include breakpoint(tablet) {
    font-size: 42px;
    line-height: 64px;
  }
}

h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;

  @include breakpoint(tablet) {
    font-size: 24px;
    line-height: 36px;
  }
}

h4 {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.28px;
}

.title-section {
  margin-top: 0;
  text-align: center;
}

.subtitle-section {
  display: block;
  margin-bottom: 4px;
  color: $base-primary;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}