$breakpoints: (
  sm: "320px",
  mobile: "640px",
  tablet: "768px",
  desktop: "1440px",
);

@mixin breakpoint($breakpoint) {
  @if $breakpoint =="" {
    @content;
  }

  @else {
    $value: map-get($breakpoints, $breakpoint);

    @if $value !=null {
      @media (min-width: $value) {
        @content;
      }
    }

    @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
      +"Please make sure it is defined in `$breakpoints` map.";
    }
  }
}
